<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>find_id</title>
<style>
tr {
 border: 0px solid none;
}

 

k:hover {
 text-decoration: none;
 color: #9354ED
}
</style>


<script>
 function gohome() {
  var frm = document.idfindscreen;
  frm.method = "post";
  frm.action = ""; //넘어간화면
  frm.submit(); //등록이 될수 있는 조건이면, 정보를 보내겠다.
 }

 function gojoin() {
  var frm = document.idfindscreen;
  frm.method = "post";
  frm.action = ""; //넘어간화면
  frm.submit(); //등록이 될수 있는 조건이면, 정보를 보내겠다.
 }

 function gologin() {
  var frm = document.idfindscreen;
  frm.method = "post";
  frm.action = "";
  frm.submit();
 }



 

 function id_search1() { //아이디 '찾기' 버튼

  var frm = document.idfind;// 경로 수정해주기

  if (frm.name.value.length < 1) {
   alert("이름을 입력해주세요");
   return;
  }

  frm.method = "post";
  frm.action = "##"; //넘어간화면
  frm.submit();  
  }

​

 function pw_search() { //비밀번호 '찾기' 버튼

 var frm = document.idfind;// 경로 수정해주기

  if (frm.name2.value.length < 1) {
   alert("이름을 입력해주세요");
   return;
  }
  if (frm.email.value.length < 1 || frm.e_domain.value.length < 1) {
   alert("이메일을 입력해주세요");
   return;
  }

  frm.method = "post";
  frm.action = "##"; //넘어간화면
  frm.submit();  
  }

​

 //이메일 부분

 function checkid() {

  var frm = document.idfindscreen;
  var regExp = '/^([/\w/g\.-]+)@([\da-z\.-]+)\.([a-z\.]{2,6})$/';
  if (!regExp.test(frm.email.value)) {
   alert('올바른 email을 입력해주세요.');
   frm.email.focus();
  }

 }
</script>


</HEAD>

<BODY>
 <form name="##">
  헤더파일 불러오기
  <font face="Yang Rounded">


   <table width="1330px" height="430px" align="center">
    <tr>
     <td>
      <table width="600px" align="center" border="0"
       style="color: black; background-color: #F6F6F6; font-size: 20px;">
       <tr>
        <td>
         <table width="750px" align="center" border=0;
          style="background-color: white; margin-top: 3%">
          <tr>
           <td align="center"><img src="##" height="30px"></td>
           <td>아이디,비밀번호 찾기</td>
           <td width="300px"></td>
          </tr>
         </table>
        </td>
       </tr>

       <tr>
        <td>
         <table width="800px" height="300px" align="center"
          style="border: dotted 5px none; margin-top: 4%">

          <tr>
           <td>
            <table width="300px" height="30px" border="0"
             style="margin-top: 3%; color: black; font-size: 18px;">
             <tr>
              <td>&nbsp;&nbsp; <img src="##" height="30px">
              </td>
              <td>&nbsp;아이디 찾기</td>
             </tr>
            </table>
           </td>
          </tr>

          <tr>
           <td>
           <table width="380px" height="70px" align="center" border="0"
            style="font-size: 16px;">
            <tr>
             <td>이름</td>
             <td><input type="text" name="name2"></td>
            </tr>
            <tr>
             <td style="text-align: center;">e-mail&nbsp;</td>
             <td><input type="text" name="email"
              style="width: 169px" onblur="checkid()">
             
             </td>
            </tr>
           </table>
          </td>
          </tr>

 

          <tr>
           <td>
            <table width="140px" height="10px" border="0"
             style="margin-top: 2%;" align="center">
             <tr>
              <td><input type="button" name="##" value="  찾기  "
               align="center"
               style="cursor: pointer; background: white; color: black; border-color: black;"
               onClick="id_search1()"></td>
             
             </tr>
            </table>
           </td>
          </tr>

          <tr>
           <td>
            <table width="300px" height="20px" border="0"
             style="margin-top: 3%; font-size: 18px;">
             <br>
             <br>
             <tr>
              <td>&nbsp;&nbsp; <img src="##.png"
               height="30px">
              </td>
              <td>&nbsp;비밀번호 찾기</td>
             </tr>
            </table>
           </td>
          </tr>

          <td>
           <table width="380px" height="70px" align="center" border="0"
            style="font-size: 16px;">
            <tr>
             <td>   ID</td>
             <td><input type="text" name="id"></td>
            </tr>
            <tr>
             <td style="text-align: center;">e-mail&nbsp;</td>
             <td><input type="text" name="email"
              style="width: 169px" onblur="checkid()">
             </td>
            </tr>
           </table>
          </td>
          </tr>

          <tr>
           <td>
            <table width="140px" height="10px" border="0"
             style="margin-top: 2%" align="center">
             <tr>
              <td><input type="button" name="##" value="  찾기  " 
               align="center"
               style="cursor: pointer; background: white; color: black; border-color: black;"
               onClick="pw_search()"></td>     <!-- name 입력하기  -->     
             </tr>
            </table>
            <br>
           </td>
          </tr>
         </table>
        </td>
       </tr>
      </table>
     </td>
    </tr>
   </table>


  </font>
 </form>
</BODY>
</HTML> 
<body>

</body>
</html>