<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<body>



<table width="1330px"  border="0"  height="430px" align="center">

   <tr>
    <td>
     <table width="450px" align="center"  border="0" style="color:black; background-color: #F6F6F6; font-size:20px; ">
    <tr>
    <td>
     <table width="750px" align="center" border=0; style="background-color:white; margin-top:3%" >
      <tr>
       <td>아이디는</td>
      </tr>
      <tr>
      <td><p th:text="${member.account}"> </p>입니다.</td>
      </tr>
      </table>
      <table width="150px"  align="center" border="0" style="margin-top:1%">

       <tr>

        <td><input type="button" value="비밀번호 찾기" class="btn btn-primary" onclick="location.href='/pwRefefer'"></td>
        <td><input type="button" value="처음으로" class="btn btn-primary" onclick="location.href='/home'"></td>
       </tr>
      </table>   
     </td>
    </tr>
  </table>
 </td>
</tr>
</table>



</body>
</html>