<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">


<head>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.0/TweenMax.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lettering.js/0.7.0/jquery.lettering.min.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
</head>
<body>
<div class="container mt-5">
    <h1>비밀번호 찾기</h1>
    <hr>
    <form th:action="@{/pwRefefer}" method="post" name="pwRefefer">

        <div class="mb-3">
            <label th:for="email" class="form-label"><b>email</b></label>
            <input type="email" class="form-control" id="email" name="email" placeholder="이메일을 입력하세요." oninput="emailCheck()">
            <span id="emailMsg"></span>
        </div>
        <div class="mb-3">
            <label th:for="account" class="form-label"><b>ID</b></label>
            <input type="text" class="form-control" id="account" name="account" placeholder="아이디를 입력하세요." oninput="accountCheck()">
            <span id="accountMsg"></span>
        </div>

        <button type="button" class="btn btn-primary" id="btn" onclick="infoCheck()" disabled>다음</button>


    </form>
</div>
<script>
    var accountPass = false;
    var emailPass = false;

    function accountCheck(){
        var getCheck= RegExp(/^[a-zA-Z0-9]{4,12}$/);
        var account = $('#account').val();

        if(getCheck.test(account)){
            $('#accountMsg').html("");
            accountPass = true;
        }else{
            if(!getCheck.test(account)){
                $('#accountMsg').html("아이디는 영문,숫자 4~12자리 입니다.");
                $("#accountMsg").css("color", "red");
                accountPass = false;
            }else if(account == ""){
                $('#accountMsg').html("아이디를 입력해주세요.");
                $("#accountMsg").css("color", "red");
                accountPass = false;
            }else{
                $('#accountMsg').html("잘못된 입력입니다.");
                $("#accountMsg").css("color", "red");
                accountPass = false;
            }
        }
        Check()
    }
    function emailCheck(){
	var getMail = /^[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*@[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*.[a-zA-Z]{2,3}$/i;
	var email = $('#email').val();

    if(getMail.test(email)){
        $('#emailMsg').html("");
        emailPass = true;

    }else{
        if(email == ""){
            $('#emailMsg').html("이메일을 입력해주세요.");
            $("#emailMsg").css("color", "red");
            emailPass = false;

        }else if(!getMail.test(email)){
            $('#emailMsg').html("잘못된 이메일 입력입니다.");
            $("#emailMsg").css("color", "red");
            emailPass = false;

        }else{
            $('#emailMsg').html("잘못된 이메일 입력입니다.");
            $("#emailMsg").css("color", "red");
            emailPass = false;
            C
        }
    }
    Check()
}

function Check(){
    if (emailPass == true && accountPass == true){
        btn.disabled = false;
    }else {
        btn.disabled = true;
    }
}

function infoCheck(){
    var token = $("meta[name='_csrf']").attr("content");
	var header = $("meta[name='_csrf_header']").attr("content");
	var email = $('#email').val();
	var account = $('#account').val();
	var data = {account : account, email : email}
	var form = document.pwRefefer;

	$.ajax({
		type : "post",
		url : "/pwRefeferInfo",
		data : data,

		beforeSend : function(xhr){   /*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
				xhr.setRequestHeader(header, token);
        },
        success : function(result){
            console.log(result);
            if(result == 1){
                form.submit();
            }else{
                if(result == 0){
                    $('#accountMsg').html("해당 아이디와 이메일의 정보가 존재하지 않습니다.");
                    $("#accountMsg").css("color", "red");
                }else if (result == 2){
                        $('#accountMsg').html("해당 아이디와 이메일의 정보가 일치하지 않습니다.");
                        $("#accountMsg").css("color", "red");
                    }

            }

        }


        });
}
</script>


</body>
</html>