<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
    <script src="http://code.jquery.com/jquery-latest.js"></script>

</head>
<body>

<h3>My Page</h3>

memberid : <p th:text="${member.account}"> </p><br>
membername : <p th:text="${member.name}"> </p><br>
memberemail : <p th:text="${member.email}"> </p><br>

<button type="button" onclick="location.href='/memberUpdate'">회원정보 변경</button>


</body>
</html>

</body>
</html>