<!DOCTYPE html>
<html>
<head>
<meta charset="EUC-KR">
<title></title>
<style>

   
      img.layout { 
        position: absolute;
        left: 700px;
        top: 50px;
      }
    
    
</style>
    
</head>
<body>
<img src="img/COUPENG.jpg" width="100%" height= "780px">
<div class="layout">

<img src="img/diet.jpg" width="50%" height= "780px">
<img src="img/냉동식품.jpg" width="100%" height= "780px">
<img src="img/디저트.jpg" width="50%" height= "780px">
<img src="img/신선한 음식.jpg" width="100%" height= "780px">
<img src="img/야채,과일사진.jpg" width="50%" height= "780px">

</div>

</body>
</html>