<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
주문내역
<tbody>
<tr th:each="completeOrderList : ${completeOrderList}">
    <td th:text="${completeOrderList.id}"></td>
    <td th:text="${completeOrderList.name}"></td>
    <td th:text="${completeOrderList.totalPrice}"></td>
    <td th:text="${completeOrderList.address?.city}"></td>
    <td th:text="${completeOrderList.address?.street}"></td>
    <td th:text="${completeOrderList.orderStatus}"></td>

</tr>
</tbody>
</body>
</html>