<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link rel="shortcut icon" href="/img/Home Images/favicon.png" type="image/png">
    <title>Merrang</title>
</head>

<body>
<!-- Page Preloder -->
<header class="header">
    <div id="preloder">
        <div class="loader"></div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="header__logo">
                    <a href="/home"><img src="/img/Home Images/logo.png" alt=""></a>
                </div>
            </div>
            <div class="col-lg-6">
                <nav class="header__menu">
                    <ul>

                        <li>
                            <a href="/home">Home</a>
                        </li>
                        <li sec:authorize="isAuthenticated()">
                            <a href="/mypage">MyPage</a>
                        </li>
                        <li sec:authorize="isAuthenticated()">
                            <a href="/order">MyOrder</a>
                        </li>
                        <li sec:authorize="isAuthenticated()">
                            <a href="#" onclick="javascript:document.myForm.submit();">LogOut</a>
                            <form name="myForm" th:action="@{/logout}" method="post"></form>
                        </li>
                        <li sec:authorize="hasRole('ROLE_ADMIN')">
                            <a href="/itemRegister">Sign Item</a>
                        </li>
                        <li>
                            <a href="/list">Shop</a>
                        </li>
                        <li  sec:authorize="isAnonymous()">
                            <a href="/login">LogIn</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- Header Section End -->
<!-- Hero Section Begin -->
<section class="hero hero-normal">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="hero__categories">
                    <div class="hero__categories__all">
                        <i class="fa fa-bars"></i>
                        <span>All departments</span>
                    </div>
                    <ul>
                        <li><a href="/list?page=1&type=type&keyword=meat">Fresh Meat</a></li>
                        <li><a href="/list?page=1&type=type&keyword=vegetable">Vegetables</a></li>
                        <li><a href="/list?page=1&type=type&keyword=fruit">Fruit</a></li>
                        <li><a href="/list?page=1&type=type&keyword=milk">Butter & milk</a></li>
                        <li><a href="/list?page=1&type=type&keyword=milk">Grain</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="hero__search">
                    <div class="hero__search__form">
                        <div class="hero__search__form">
                            <form action="/list" method="get" id="searchForm">
                                <input type="hidden" name="type" value="title">
                                <input type="hidden" name="page" value="1">
                                <input id="keyword" name="keyword" th:value="${pageRequestDTO.keyword}" placeholder="What do yo u need?">
                                <button class="site-btn btn-search" type="submit">Search</button>
                            </form>
                        </div>
                    </div>
                    <div class="hero__search__phone">
                        <div class="hero__search__phone__icon">
                            <i class="fa fa-phone"></i>
                        </div>
                        <div class="hero__search__phone__text">
                            <h5>QA 02-123456</h5>
                            <span>support 24/7 time</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->

<!-- Product Details Section Begin -->
<section class="product-details spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="product__details__pic">
                    <div class="product__details__pic__item">
                        <img class="product__details__pic__item--large" th:src="${dto.thumbImg}" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="product__details__text">
                    <h3>
                        <th:text>[[${dto.title}]]</th:text>
                    </h3>
                    <h5><th:text>[[${#temporals.format(dto.uploadDate, 'yyyy/MM/dd')}]]</th:text></h5>
                    <div class="product__details__price">
                        $<th:text>[[${dto.price}]]</th:text></div>
                    <div class="product__details__quantity">
                            <form name="addOrder" th:action="@{/addOrder}" th:object="${orderItemDTO}" method="post">
                                <input type="number" class="form-control" name="count">
                                <input type="hidden" name="id" th:value="${dto.id}"/>
                            </form>
                    </div>
                    <a href="#" onclick="javascript:document.addOrder.submit();" class="primary-btn">ADD TO CARD</a>
                    <ul>
                        <li><b>Availability</b> <th:text>[[${dto.stock}]]</th:text>개 남음</li>
                        <li><b>Shipping</b> <span>01 day shipping. <samp>Free pickup today</samp></span></li>
                        <li sec:authorize="hasRole('ROLE_ADMIN')">
                            <a th:href="@{/itemRemove/{id}(id = ${dto.id})}"><b>상품 삭제</b></a>
                        </li>
                        <li sec:authorize="hasRole('ROLE_ADMIN')">
                            <a th:href="@{/itemModify/{id}(id = ${dto.id})}"><b>상품 수정</b></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="product__details__tab">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab" aria-selected="true">Description</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tabs-1" role="tabpanel">
                            <div class="product__details__tab__desc"  th:utext="${dto.content}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Product Details Section End -->


<script th:inline="javascript">

            var msg = [[${msg}]];

            console.log(msg);

            if(msg){
                $(".modal").modal();
            }
            var searchForm = $("#searchForm");

            $('.btn-search').click(function(e){

                searchForm.submit();

            });

            $('.btn-clear').click(function(e){

                searchForm.empty().submit();

            });



           $( function() {
            $( "#keyword" ).autocomplete({
                source: "/autocomplete",
                minLength: 1
                });
            } );

        </script>

<footer class="footer spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="footer__about">
                    <div class="footer__about__logo">
                        <a href="/home"><img src="/img/Home Images/logo.png" alt=""></a>
                    </div>
                    <ul>
                        <li>Address: Seoul Jonglo 26</li>
                        <li>Phone: +82 1234 5678</li>
                        <li>Email: 123123@123.com</li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-4 col-md-12">
                <div class="footer__widget">

                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Js Plugins -->
<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.nice-select.min.js"></script>
<script src="/js/jquery-ui.min.js"></script>
<script src="/js/jquery.slicknav.js"></script>
<script src="/js/mixitup.min.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/main.js"></script>
</body>

</html>