<!DOCTYPE html>
<html>
<head>
<meta charset="EUC-KR">
<title>Insert title here</title>

</head>

<body align=center>
<h3><font class="font">
              <a href="#" target="_blank">회사소개</a>
              <a href="#">인재채용</a>
              <a href="#">입점 / 제휴문의</a>
              <a href="#">공지사항</a>
              <a href="#">고객의 소리</a>
              <a href="#">이용약관</a>
              <a href="#"><b>개인정보 처리방침</b></a>
              <a href="#" target="_blank">제휴마케팅</a>
              <a href="#" target="_blank">광고안내</a>
              </font></h3>
</div>
</body>
</html>