<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link rel="shortcut icon" href="/img/Home Images/favicon.png" type="image/png">
    <title>Merrang</title>
</head>

<body>
<!-- Page Preloder -->
<header class="header">
    <div id="preloder">
        <div class="loader"></div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="header__logo">
                    <a href="/home"><img src="/img/Home Images/logo.png" alt=""></a>
                </div>
            </div>
            <div class="col-lg-6">
                <nav class="header__menu">
                    <ul>
                        <li>
                            <a href="/home">Home</a>
                        </li>
                        <li sec:authorize="isAuthenticated()">
                            <a href="/mypage">MyPage</a>
                        </li>
                        <li sec:authorize="isAuthenticated()">
                            <a href="/order">MyOrder</a>
                        </li>
                        <li sec:authorize="isAuthenticated()">
                            <a href="#" onclick="javascript:document.myForm.submit();">LogOut</a>
                            <form name="myForm" th:action="@{/logout}" method="post"></form>
                        </li>
                        <li sec:authorize="hasRole('ROLE_ADMIN')">
                            <a href="/itemRegister">Sign Item</a>
                        </li>
                        <li>
                            <a href="/info">info</a>
                        </li>
                        <li sec:authorize="isAnonymous()">
                            <a href="/login">LogIn</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>


<section class="hero hero-normal">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="hero__categories">
                    <div class="hero__categories__all">
                        <i class="fa fa-bars"></i>
                        <span>All departments</span>
                    </div>
                    <ul>
                        <li><a href="/list?page=1&type=type&keyword=meat">Fresh Meat</a></li>
                        <li><a href="/list?page=1&type=type&keyword=vegetable">Vegetables</a></li>
                        <li><a href="/list?page=1&type=type&keyword=fruit">Fruit</a></li>
                        <li><a href="/list?page=1&type=type&keyword=milk">Butter & milk</a></li>
                        <li><a href="/list?page=1&type=type&keyword=milk">Grain</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="hero__search">
                    <div class="hero__search__form">
                        <form action="/list" method="get" id="searchForm">
                            <input type="hidden" name="page" value="1">
                            <input type="hidden" name="type" value="title">
                            <input id="keyword" name="keyword" th:value="${pageRequestDTO.keyword}" placeholder="What do yo u need?">
                            <button class="site-btn btn-search" type="submit">Search</button>
                        </form>
                    </div>
                    <div class="hero__search__phone">
                        <div class="hero__search__phone__icon">
                            <i class="fa fa-phone"></i>
                        </div>
                        <div class="hero__search__phone__text">
                            <h5>QA 02-123456</h5>
                            <span>support 24/7 time</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="img/breadcrumb.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>information</h2>
                    <div class="breadcrumb__option">
                        <a href="./index.html">Home</a>
                        <span>information</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->

<!-- Contact Section Begin -->
<section class="contact spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                <div class="contact__widget">
                    <span class="icon_phone"></span>
                    <h4>Phone</h4>
                    <p>010-8851-0000</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                <div class="contact__widget">
                    <span class="icon_pin_alt"></span>
                    <h4>Address</h4>
                    <p>서울특별시 종로구 돈화문로 26 단성사</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                <div class="contact__widget">
                    <span class="icon_clock_alt"></span>
                    <h4>Open time</h4>
                    <p>10:00 am to 23:00 pm</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                <div class="contact__widget">
                    <span class="icon_mail_alt"></span>
                    <h4>Email</h4>
                    <p>merrang@gmail.com</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Contact Section End -->

<!-- Map Begin -->
<div class="map">
    <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1581.163371627722!2d126.99143254732796!3d37.57092299547818!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357ca2de1a95f8b1%3A0xb27bc7db95cc82f3!2z64uo7ISx7IKs!5e0!3m2!1sko!2skr!4v1625310106376!5m2!1sko!2skr"
            height="500" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    <div class="map-inside">
        <i class="icon_pin"></i>
        <div class="inside-widget">
            <h4>서울특별시</h4>
            <ul>
                <li>핸드폰: 010-8851-0000</li>
                <li>종로구 돈화문로 26 단성사</li>
            </ul>
        </div>
    </div>
</div>
<!-- Map End -->


<footer class="footer spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="footer__about">
                    <div class="footer__about__logo">
                        <a href="/home"><img src="/img/Home Images/logo.png" alt=""></a>
                    </div>
                    <ul>
                        <li>Address: Seoul Jonglo 26</li>
                        <li>Phone: +82 1234 5678</li>
                        <li>Email: 123123@123.com</li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-4 col-md-12">
                <div class="footer__widget">

                </div>
            </div>
        </div>
    </div>
</footer>
<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.nice-select.min.js"></script>
<script src="/js/jquery-ui.min.js"></script>
<script src="/js/jquery.slicknav.js"></script>
<script src="/js/mixitup.min.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/main.js"></script>
</body>
</html>