<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">
<head th:replace="fragments/header :: header" />
<th:block layout:fragment="head">
    <!--/* css */-->
</th:block>

    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.0/TweenMax.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lettering.js/0.7.0/jquery.lettering.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">


<body>

<div style="display: block;width:400px;margin:0 auto;background:ddd;position:relative;" class="container mt-5">
    <div align="center">
        <a class="navbar-brand" id="logo" href="/home" ali>
            <img src="/img/Home Images/logo.png" alt="Logo" align="center">
        </a>
    </div>
    <hr>
    <div>
        <h2>회원가입</h2><br>
    </div>
    <form th:action="@{/register}" th:object="${memberDTO}" method="post">

        <div class="mb-3" style="width:370px">
            <label th:for="email" class="form-label"><b>EMAIL</b></label>
            <input type="email" class="form-control" th:field="*{email}" id="email" name="email" oninput="emailCheck()"
                   placeholder="이메일 입력">
            <span id="emailMsg"></span>


        </div>
        <div class="mb-3">
            <label th:for="account"><b>ID</b></label>
            <input id="account" type="text" class="form-control" placeholder="아이디 입력" th:field="*{account}"
                   oninput="accountCheck()" required>
            <span id="accountMsg"></span>
        </div>
        <div class="mb-3">
            <label th:for="password"><b>PASSWORD</b></label>
            <input id="password" type="password" class="form-control" placeholder="비밀번호 입력" th:field="*{password}" oninput="passwordCheck()"
                   required>
            <span id="passwordMsg"></span>
        </div>
        <div class="mb-3">
            <label th:for="password"><b>PASSWORD</b></label>
            <input id="password2" type="password" class="form-control" placeholder="비밀번호 입력" oninput="password2Check()" required>
            <span id="password2Msg"></span>
        </div>
        <div class="mb-3">
            <label th:for="name"><b>NAME</b></label>
            <input id="name" type="text" class="form-control" placeholder="이름 입력" th:field="*{name}" oninput="nameCheck()" required>
            <span id="nameMsg"></span>
        </div>
        <div align="right">
        <input type="checkbox" class name="agreeCheck" id="agreeCheck"><button type="button" class="btn btn-link"  data-bs-toggle="modal" data-bs-target="#exampleModal">
        이용약관동의
    </button>
            <br>
        </div>


            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-scrollable">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">이용약관동의</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            제1조(목적)
                            <br>
                            이 약관은 주식회사 무신사가 운영하는 사이버 몰 “Merrang”(이하 “몰”이라 한다)에서 제공하는 인터넷 관련 서비스(이하 “서비스”라 한다)를 이용함에 있어 사이버 몰과 이용자의 권리․의무 및 책임사항을 규정함을 목적으로 합니다.
                            <br><br>

                            제2조(정의)
                            <br>
                            ① “몰”이란 주식회사 Merrang이 재화 또는 용역(이하 “재화 등”이라 함)을 이용자에게 제공하기 위하여 컴퓨터 등 정보통신설비를 이용하여 재화 등을 거래할 수 있도록 설정한 가상의 영업장을 말하며, 아울러 사이버몰을 운영하는 사업자의 의미로도 사용합니다.
                            <br>
                            ② “이용자”란 “몰”에 접속하여 이 약관에 따라 “몰”이 제공하는 서비스를 받는 회원 및 비회원을 말합니다.
                            <br>
                            ③ ‘회원’이라 함은 “몰”에 회원등록을 한 자로서, 계속적으로 “몰”이 제공하는 서비스를 이용할 수 있는 자를 말합니다.
                            <br>
                            ④ ‘비회원’이라 함은 회원에 가입하지 않고 “몰”이 제공하는 서비스를 이용하는 자를 말합니다.


                            <br><br>
                            제3조 (약관 등의 명시와 설명 및 개정)
                            <br>
                            ① “몰”은 이 약관의 내용과 상호 및 대표자 성명, 영업소 소재지 주소(소비자의 불만을 처리할 수 있는 곳의 주소를 포함), 전화번호․모사전송번호․전자우편주소, 사업자등록번호, 통신판매업 신고번호, 개인정보관리책임자등을 이용자가 쉽게 알 수 있도록 00 사이버몰의 초기 서비스화면(전면)에 게시합니다. 다만, 약관의 내용은 이용자가 연결화면을 통하여 볼 수 있도록 할 수 있습니다.
                            <br>
                            ② “몰은 이용자가 약관에 동의하기에 앞서 약관에 정하여져 있는 내용 중 청약철회․배송책임․환불조건 등과 같은 중요한 내용을 이용자가 이해할 수 있도록 별도의 연결화면 또는 팝업화면 등을 제공하여 이용자의 확인을 구하여야 합니다.
                            <br>
                            ③ “몰”은 「전자상거래 등에서의 소비자보호에 관한 법률」, 「약관의 규제에 관한 법률」, 「전자문서 및 전자거래기본법」, 「전자금융거래법」, 「전자서명법」, 「정보통신망 이용촉진 및 정보보호 등에 관한 법률」, 「방문판매 등에 관한 법률」, 「소비자기본법」 등 관련 법을 위배하지 않는 범위에서 이 약관을 개정할 수 있습니다.
                            <br>
                            ④ “몰”이 약관을 개정할 경우에는 적용일자 및 개정사유를 명시하여 현행약관과 함께 몰의 초기화면에 그 적용일자 7일 이전부터 적용일자 전일까지 공지합니다. 다만, 이용자에게 불리하게 약관내용을 변경하는 경우에는 최소한 30일 이상의 사전 유예기간을 두고 공지합니다. 이 경우 "몰“은 개정 전 내용과 개정 후 내용을 명확하게 비교하여 이용자가 알기 쉽도록 표시합니다.
                            <br>
                            ⑤ “몰”이 약관을 개정할 경우에는 그 개정약관은 그 적용일자 이후에 체결되는 계약에만 적용되고 그 이전에 이미 체결된 계약에 대해서는 개정 전의 약관조항이 그대로 적용됩니다. 다만 이미 계약을 체결한 이용자가 개정약관 조항의 적용을 받기를 원하는 뜻을 제3항에 의한 개정약관의 공지기간 내에 “몰”에 송신하여 “몰”의 동의를 받은 경우에는 개정약관 조항이 적용됩니다.
                            <br>
                            ⑥ 이 약관에서 정하지 아니한 사항과 이 약관의 해석에 관하여는 전자상거래 등에서의 소비자보호에 관한 법률, 약관의 규제 등에 관한 법률, 공정거래위원회가 정하는 전자상거래 등에서의 소비자 보호지침 및 관계법령 또는 상관례에 따릅니다.


                            <br><br>
                            제4조(서비스의 제공 및 변경)
                            <br>
                            ① “몰”은 다음과 같은 업무를 수행합니다.
                            <br>
                            1. 재화 또는 용역에 대한 정보 제공 및 구매계약의 체결
                            <br>
                            2. 구매계약이 체결된 재화 또는 용역의 배송
                            <br>
                            3. 기타 “몰”이 정하는 업무
                            <br>
                            ② “몰”은 재화 또는 용역의 품절 또는 기술적 사양의 변경 등의 경우에는 장차 체결되는 계약에 의해 제공할 재화 또는 용역의 내용을 변경할 수 있습니다. 이 경우에는 변경된 재화 또는 용역의 내용 및 제공일자를 명시하여 현재의 재화 또는 용역의 내용을 게시한 곳에 즉시 공지합니다.
                            <br>
                            ③ “몰”이 제공하기로 이용자와 계약을 체결한 서비스의 내용을 재화등의 품절 또는 기술적 사양의 변경 등의 사유로 변경할 경우에는 그 사유를 이용자에게 통지 가능한 주소로 즉시 통지합니다.
                            <br>
                            ④ 전항의 경우 “몰”은 이로 인하여 이용자가 입은 손해를 배상합니다. 다만, “몰”이 고의 또는 과실이 없음을 입증하는 경우에는 그러하지 아니합니다.
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                        </div>
                    </div>
                </div>
            </div>
        <div class="mb-3">
        <button type="submit" style="width:370px" class="btn btn-primary" id="reg_submit" disabled>회원가입</button>
        </div>
    </form>
</div>

<script>

var emailPass = false;
var accountPass = false;
var passwordPass = false;
var password2Pass = false;
var agreePass = false;
var namePass = false;
$(document).ready(function(){
//전체 체크 클릭 시, 나머지 체크
$("#agreeCheck").click(function(abc){
var agreeCheck=$("#agreeCheck").prop("checked");

    if(agreeCheck){
        $(".agreeCheck").prop("checked",true);
        $(".btnArea button").css({"backgroundColor":"#d2201d","cursor":"pointer","color":"#fff"}).prop("disabled",false);
        agreePass = true;
        console.log("agreePass : " + agreePass);
        sub();
    }
    else{
        $(".agreeCheck").prop("checked",false);
        $(".btnArea button").css({"backgroundColor":"#cbcbcb","cursor":"auto","color":"#303033"}).prop("disabled",true);
        agreePass = false;
        sub();
    }
})


});

function emailCheck(){
    var token = $("meta[name='_csrf']").attr("content");
	var header = $("meta[name='_csrf_header']").attr("content");
	var getMail = /^[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*@[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*.[a-zA-Z]{2,3}$/i;
	var email = $('#email').val();
	var data = {email : email}

	$.ajax({
		type : "post",
		url : "/emailDuplicate",
		data : data,
		beforeSend : function(xhr){   /*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
				xhr.setRequestHeader(header, token);
        },
        success : function(result){
			 console.log("성공 여부 (true면 중복) 값은 : " + result);
                if (result){
                    $('#emailMsg').html("이미 존재하는 이메일 입니다.");
			        $("#emailMsg").css("color", "red");
			        emailPass = false;



                } else{
                    if(getMail.test(email)){
                        $('#emailMsg').html("사용할 수 있는 이메일 입니다.");
                        $("#emailMsg").css("color", "green");
                        emailPass = true;


                    }
                    else if(email == ""){
                        $('#emailMsg').html("필수 정보입니다..");
                        $("#emailMsg").css("color", "red");
                        emailPass = false;

                    }
                    else if(!getMail.test(email)){
                        $('#emailMsg').html("잘못된 이메일 입니다.");
                        $("#emailMsg").css("color", "red");
                        emailPass = false;

                    }

                }
                sub();
            }
            ,error : function() {
						console.log("실패");
				}
			});
		};

function accountCheck(){
    var token = $("meta[name='_csrf']").attr("content");
	var header = $("meta[name='_csrf_header']").attr("content");
	var account = $('#account').val();
	var data = {account : account}
    var getCheck= RegExp(/^[a-zA-Z0-9]{4,12}$/);
	$.ajax({
		type : "post",
		url : "/accountDuplicate",
		data : data,
		beforeSend : function(xhr){   /*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
				xhr.setRequestHeader(header, token);
        },
        success : function(result){
			 console.log("성공 여부 (true면 중복) 값은 : " + result);
                if (result){
                    $('#accountMsg').html("이미 존재하는 아이디 입니다.");
			        $("#accountMsg").css("color", "red");
			        accountPass = false;

                } else{
                    if(getCheck.test(account)){
                        $('#accountMsg').html("사용할 수 있는 아이디 입니다.");
                        $("#accountMsg").css("color", "green");
                        accountPass = true;

                    }
                    else if(account == ""){
                        $('#accountMsg').html("필수 정보입니다.");
                        $("#accountMsg").css("color", "red");
                        accountPass = false;

                    }
                    else if(!getCheck.test(account)){
                        $('#accountMsg').html("아이디는 영문,숫자 4~12자리 입니다.");
                        $("#accountMsg").css("color", "red");
                        accountPass = false;

                    }

                }
                sub();
            }

            ,error : function() {
						console.log("실패");
				}
			});
		};
function passwordCheck(){
    var password = $('#password').val();
    var getPassword = /^[a-zA-Z0-9]{6,16}$/;
    var chkNum = password.search(/[0-9]/g);
    var chkEng = password.search(/[a-z]/ig);
    if (password == ""){
        $('#passwordMsg').html("필수 정보입니다.");
        $("#passwordMsg").css("color", "red");
         passwordPass = false;

    }
    else{
        if (getPassword.test(password)) {
            if (chkNum < 0 || chkEng < 0){
                $('#passwordMsg').html("숫자와 문자 포함 6~16자리 이내로 입력해주세요.");
                $("#passwordMsg").css("color", "red");
                passwordPass = false;

            }else {
                $('#passwordMsg').html("사용할 수 있는 비밀번호입니다.");
                $("#passwordMsg").css("color", "green");
                passwordPass = true;

            }
        }
        else {
            $('#passwordMsg').html("숫자와 문자 포함 6~16자리 이내로 입력해주세요.");
            $("#passwordMsg").css("color", "red");
            passwordPass = false;

        }
    }
    sub();
}
function password2Check(){
        var pw1 = $('#password').val();
        var pw2 = $('#password2').val();
        if (pw1 != "" || pw2 != ""){
            if(pw1 == pw2){
                $('#password2Msg').html("비밀번호가 일치합니다.");
                $("#password2Msg").css("color", "green");
                password2Pass = true;


            }else{
            $('#password2Msg').html("비밀번호가 일치하지 않습니다.");
            $("#password2Msg").css("color", "red");
            password2Pass = false;

            }
       }
       sub();
};
function nameCheck(){
        var name = $('#name').val();
        var getName = /^[가-힣a-zA-Z]+$/;
        if (name == ""){
            $('#nameMsg').html("이름을 입력해주세요.");
            $("#nameMsg").css("color", "red");
            namePass = false;

        }else{
        if (getName.test(name)){
                $('#nameMsg').html("사용할 수 있는 이름입니다.");
                $("#nameMsg").css("color", "green");
                namePass = true;

        }
        else{
            $('#nameMsg').html("올바르지 않은 이름입니다.");
            $("#nameMsg").css("color", "red");
            namePass = false;

            }
       }
       sub();
};


function sub(){
     if (agreePass && emailPass && accountPass && passwordPass && password2Pass && namePass) {
        reg_submit.disabled = false;
     }else {
        reg_submit.disabled = true;
     }
}

</script>
</body>
</html>